{{extend 'layout.html'}}
{{block head}}
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="plotly-latest.min.js"></script>
    </head>
{{end}}
<h2>Expense Breakdown</h2>
      <center>
      <form id="form" onsubmit="return false;">
   Rent <input  type="number" id="userInput" />
    Gas<input  type="number" id="userInput2" />
    Food<input  type="number" id="userInput3" />
    Bills<input  type="number" id="userInput4" />
    Etc<input  type="number" id="userInput5" />
    <input type="submit" onclick="othername();" />
</form>
</center>
      <div id="myCost"><!-- Plotly chart will be drawn inside this DIV --></div>

  </div>
<h2>Uploading a CSV File</h2>

<b>CSV File</b> <input type="file" id="csvfile"> 
<br />

<b>Header</b> <select id="header">
<option>true</option>
<option>false</option>
</select> 

<br />
<button id="submitbutton" type="button">read.csv</button>

<pre><code id="output"></code></pre>
<script>
//because read.csv is in utils
ocpu.seturl("//public.opencpu.org/ocpu/library/utils/R")

//actual handler
$("#submitbutton").on("click", function(){

    //arguments
    var myheader = $("#header").val() == "true";
    var myfile = $("#csvfile")[0].files[0];
        
    if(!myfile){
        alert("No file selected.");
        return;
    }

    //disable the button during upload
    $("#submitbutton").attr("disabled", "disabled");

    //perform the request
    var req = ocpu.call("read.csv", {
        "file" : myfile,
        "header" : myheader
    }, function(session){
        session.getConsole(function(outtxt){
            $("#output").text(outtxt); 
        });
    });
        
    //if R returns an error, alert the error message
    req.fail(function(){
        alert("Server error: " + req.responseText);
    });
    
    //after request complete, re-enable the button 
    req.always(function(){
        $("#submitbutton").removeAttr("disabled")
    });        
});  
</script>


  <script>
      function othername() {
    var input = document.getElementById("userInput").value;
    var input2 = document.getElementById("userInput2").value;
    var input3 = document.getElementById("userInput3").value;
    var input4 = document.getElementById("userInput4").value;
    var input5 = document.getElementById("userInput5").value;
    var test = input;
      var data = [{
  values: [input, input2, input3,input4,input5],
  labels: ['Rent', 'Gas', 'Groceries/Food','Bills','etc'],
  type: 'pie'
}];
var layout = {
  title:'Expense Breakdown'
};
Plotly.newPlot('myCost', data, layout);
}</script>
