{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
    // Like callbacks.
    var set_like_url = "{{=URL('api', 'set_like', user_signature=True)}}";
    var get_likers_url = "{{=URL('api', 'get_likers')}}"
    // Stars.
    var set_stars_url = "{{=URL('api', 'set_stars', user_signature=True)}}";
    var is_logged_in = {{='false' if auth.user is None else 'true'}};
</script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="plotly-latest.min.js"></script>
  <!-- Numeric JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
{{end}}

<body>
<div class="main_content">

    <div id="vue-div" class="display:none">
      <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

      <!-- First, let's add a form to insert blog posts. -->
      <div id="add_post" style="display:none">
        <div class="container form_row">
          <div class="label quarter">
            Transaction Name:
          </div>
          <div class="form threequarters">
            <input v-model="form_title" placeholder="Enter Transaction Title"/>
          </div>
        </div>
        <div class="container form_row">
          <div class="label quarter">
            Transaction Label:
          </div>
          <div class="form threequarters">
            <select name ="Transaction_Type" input-type="number" v-model="form_category">
              <option value="Restaurants">Restaurants</option>
              <option value="Gas">Gas</option>
              <option value="Groceries">Groceries</option>
            </select>
          </div>
        </div>
        <div class="container form_row">
          <div class="label quarter">
            Enter Amount:
          </div>
          <div class="form threequarters">
            <input v-model="number" v-model="form_amount" type="number" placeholder="Enter Amount of Money" id="userInputT">
          </div>
        </div>
        <div class="container form_row"><div class="quarter"></div>
          <div class="threequarters">
            <div class="submit">
              <button id="debit_btn" v-on:click="add_nums()" onclick="totalMoney();">Debit</button>
              <button id="credit_btn" v-on:click="sub_nums()"onclick="totalMoneySub();">Credit</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Message in case there are no posts. -->
      <div v-if="post_list.length === 0">There are no Transactions.</div>

      <!-- We display the posts. -->


      <div class = "Transaction List">
        Transaction List:
      </div>
      <div v-if="list_show"> </div>
      <div class="container form_row">
      <div class="label half">
      <div id="post_list">
          <table class = "center fill">
            <thead>
              <tr> <td>Transaction Name </td> <td>Transaction Amount </td> </tr>
            </thead>
          </table>
         
          
        <div class="post_div" v-for="post in post_list">
            <div class="bordered">
          <div class="post_title">${post.post_title}</div>
          <div class="post_content">${post.post_category}</div>
          <div class="post_content">${post.post_total}</div>
          <div class="attributes">

            <!-- Code for likes. -->
            <div class="likers">
              <span class="show_likers">
                <span v-if="is_logged_in" class="toggle_like"
                      v-on:mouseover="like_mouseover(post._idx); show_likers(post._idx)"
                      v-on:mouseout="hide_likers(post._idx); like_mouseout(post._idx)"
                      v-on:click="like_click(post._idx)">
                  <i v-if="post._smile" class="fa fa-smile-o" v-bind:class="{changed: post._smile === !post.like}"></i>
                  <i v-if="!post._smile" class="fa fa-meh-o" v-bind:class="{changed: post._smile === !post.like}"></i>
                </span>
                <span v-if="post._show_likers" class="likers_list">
                  <span v-for="liker in post._likers" class="liker">${liker}</span>
                  <span v-if="post._likers.length > 0">liked it.</span>
                </span>
              </span>
            </div>

            <!-- Code for start ratings.
            <div v-if="is_logged_in" class="star_rating">
              <span v-on:mouseout="stars_out(post._idx)">
                <span v-on:mouseover="stars_over(post._idx, idx)"
                      v-on:click="set_stars(post._idx, idx)"
                      v-for="idx in star_indices">
                    <i v-if="idx <= post._num_stars_display" class="fa fa-star"></i>
                    <i v-if="idx > post._num_stars_display" class="fa fa-star-o"></i>
                </span>
              </span>
            </div> -->

          </div>
        </div>
      </div>
      </div>
    </div>


    <div class="label half">
      <table class = "center fill">
        
            <thead>
              <tr> <td>Cost Breakdown </td> </tr>
            </thead>
          </table>
          <center>Money</center>
      <div id="myMoney"><!-- Plotly chart will be drawn inside this DIV --></div>
      <center>Expense Breakdown</center>
      <center>
      <form id="form" onsubmit="return false;">
   Rent <input  type="number" id="userInput" />
    Gas<input  type="number" id="userInput2" />
    Food<input  type="number" id="userInput3" />
    Bills<input  type="number" id="userInput4" />
    Etc<input  type="number" id="userInput5" />
    <input type="submit" onclick="othername();" />
</form>
</center>
      <div id="myCost"><!-- Plotly chart will be drawn inside this DIV --></div>

  </div>
    </div>

  </div>


</div>
<style>
    .bordered {
      width: 500px;
      height: 60px;
      padding: 2px;
      border: 3px solid rgb(109, 168, 224);
    }
  </style>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>
<script>

  </script>

  <script>
      var input_res = [];
      var i = 1;
      input_res[0] = 0;
      function totalMoney() {
    var input = document.getElementById("userInputT").value;
    input_res[i] = Number(input) + Number(input_res[i - 1]);
    i++;

var trace2 = {
  x: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,13,14,15,16,17,18,19,20,21,22,23],
  y: [input_res[0],input_res[1],input_res[2],input_res[3],input_res[4],input_res[5],input_res[6],input_res[7],input_res[8],input_res[9],input_res[10],input_res[11],input_res[12],input_res[13], input_res[14], input_res[15], input_res[16], input_res[17],input_res[18],input_res[19],input_res[20],input_res[21],input_res[23],input_res[23]],
  mode: 'lines',
};


var data = [ trace2 ];

var layout = {
  title:'Line and Scatter Plot'

};
Plotly.newPlot('myMoney', data);
      }
            function totalMoney() {
    var input = document.getElementById("userInputT").value;
    input_res[i] = Number(input) + Number(input_res[i - 1]);
    i++;

var trace2 = {
  x: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,13,14,15,16,17,18,19,20,21,22,23],
  y: [input_res[0],input_res[1],input_res[2],input_res[3],input_res[4],input_res[5],input_res[6],input_res[7],input_res[8],input_res[9],input_res[10],input_res[11],input_res[12],input_res[13], input_res[14], input_res[15], input_res[16], input_res[17],input_res[18],input_res[19],input_res[20],input_res[21],input_res[23],input_res[23]],
  mode: 'lines',
};



var data = [ trace2 ];

var layout = {
  title:'Line and Scatter Plot'

};
Plotly.newPlot('myMoney', data);
      }
            function totalMoneySub() {
    var input = document.getElementById("userInputT").value;
    input_res[i] =  Number(input_res[i - 1]) - Number(input);
    i++;

var trace2 = {
  x: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,13,14,15,16,17],
  y: [input_res[0],input_res[1],input_res[2],input_res[3],input_res[4],input_res[5],input_res[6],input_res[7],input_res[8],input_res[9],input_res[10],input_res[11],input_res[12],input_res[13]],
  mode: 'lines',
};



var data = [ trace2 ];

var layout = {
  title:'Line and Scatter Plot'

};
Plotly.newPlot('myMoney', data);
      }
      </script>

  <script>
      function othername() {
    var input = document.getElementById("userInput").value;
    var input2 = document.getElementById("userInput2").value;
    var input3 = document.getElementById("userInput3").value;
    var input4 = document.getElementById("userInput4").value;
    var input5 = document.getElementById("userInput5").value;
    var test = input;
      var data = [{
  values: [input, input2, input3,input4,input5],
  labels: ['Rent', 'Gas', 'Groceries/Food','Bills','etc'],
  type: 'pie'
}];
var layout = {
  title:'Expense Breakdown'

};
Plotly.newPlot('myCost', data, layout);
}</script>

<script>

</script>
</body>