{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
    // Like callbacks.
    var set_like_url = "{{=URL('api', 'set_like', user_signature=True)}}";
    var get_likers_url = "{{=URL('api', 'get_likers')}}"
    // Stars.
    var set_stars_url = "{{=URL('api', 'set_stars', user_signature=True)}}";
    var is_logged_in = {{='false' if auth.user is None else 'true'}};
</script>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="plotly-latest.min.js"></script>
  <!-- Numeric JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
{{end}}
<head>
    <script type="text/javascript">
        window.onload = function() {
            var dps = []; //dataPoints. 
            var chart = new CanvasJS.Chart("chartContainer", {
                title: {
                    text: "Money"
                },
                data: [{
                    type: "line",
                    dataPoints: dps
                }]
            });

            function addDataPointsAndRender() {
              var i;
                yValue = Number(document.getElementById("yValue").value);
                xValue = i+1;
                dps.push({
                    x: i,
                    y:yValue,
                    i: i+1,
                });
                chart.render();
            }
            var renderButton = document.getElementById("renderButton");
            renderButton.addEventListener("click", addDataPointsAndRender);
        }
    </script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</head>

<body>

    X Value:
    <input id="xValue" type="number" step="any" placeholder="Enter X-Value"> Y Value:
    <input id="yValue" type="number" step="any" placeholder="Enter Y-Value">
    <button id="renderButton">Add DataPoint & Render</button>
    <div id="chartContainer" style="height: 270px; width: 100%;">
    </div>


<div class="main_content">

    <div id="vue-div" class="display:none">
      <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

      <!-- First, let's add a form to insert blog posts. -->
    <div class = "box_text">
      <div v-if="post_list.length > 0"><h1>Remaining Budget: ${post_total}</h1></div>
    </div>

    <a href="{{=URL('default', 'add_transaction')}}" class="btn"> Add Transaction</a>
    <a href="{{=URL('default', 'add_budget')}}" class="btn"> Add Budget</a>

      <!-- Message in case there are no posts. -->
      <div v-if="post_list.length === 0">There are no posts.</div>

      <!-- We display the posts. -->


      <div class = "Transaction List">
        Transaction List:
      </div>
      <div v-if="list_show"> </div>
      <div class="container form_row">
      <div class="label half">
        <div class="post_div" v-for="post in post_list">
          <div class="post_content">${post.post_title}</div>
          <div class="post_content">Category: ${post.post_category}</div>
          <div class="post_content">Total Remaining: ${post.post_total}</div>
          <!--<div class="post_content">Total Budget: ${post.post_budget}</div>-->
          <div class="attributes">

            <!-- Code for likes. -->
            <div class="likers">
              <span class="show_likers">
                <span v-if="is_logged_in" class="toggle_like"
                      v-on:mouseover="like_mouseover(post._idx); show_likers(post._idx)"
                      v-on:mouseout="hide_likers(post._idx); like_mouseout(post._idx)"
                      v-on:click="like_click(post._idx)">
                  <i v-if="post._smile" class="fa fa-smile-o" v-bind:class="{changed: post._smile === !post.like}"></i>
                  <i v-if="!post._smile" class="fa fa-meh-o" v-bind:class="{changed: post._smile === !post.like}"></i>
                </span>
                <span v-if="post._show_likers" class="likers_list">
                  <span v-for="liker in post._likers" class="liker">${liker}</span>
                  <span v-if="post._likers.length > 0">liked it.</span>
                </span>
              </span>
            </div>

            <!-- Code for start ratings.
            <div v-if="is_logged_in" class="star_rating">
              <span v-on:mouseout="stars_out(post._idx)">
                <span v-on:mouseover="stars_over(post._idx, idx)"
                      v-on:click="set_stars(post._idx, idx)"
                      v-for="idx in star_indices">
                    <i v-if="idx <= post._num_stars_display" class="fa fa-star"></i>
                    <i v-if="idx > post._num_stars_display" class="fa fa-star-o"></i>
                </span>
              </span>
            </div> -->

          </div>
        </div>

    </div>


  <div class="label half">
      <table class = "center fill">

            <thead>
              <tr> <td>Cost Breakdown </td> </tr>
            </thead>
          </table>
          <center>Money</center>
      <div id="myMoney"><!-- Plotly chart will be drawn inside this DIV --></div>
     <center>Expense Breakdown</center>
      <center>
      <form id="form" onsubmit="return false;">
        Rent <input  type="number" id="userInput" />
        Gas<input  type="number" id="userInput2" />
        Food<input  type="number" id="userInput3" />
        Bills<input  type="number" id="userInput4" />
        Etc<input  type="number" id="userInput5" />
        <input type="submit" onclick="othername();" />
      </form>
      </center>
      <div id="myCost"><!-- Plotly chart will be drawn inside this DIV --> </div>

  </div>

    </div>

  </div>


</div>

<style>
    .post_div {
      margin: 4px;
      border: 1px white solid;
      background-color: #000000;
      padding: 4px;
    }
    .post_content{
      font-family: "Raleway", sans-serif;
      color: white;
    }


</style>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
<script>
  </script>

  <script>
      function totalMoney() {
        var input_res = [];
        var i;
    var input = document.getElementById("userInputT").value;
input_res[i]=input;
i++;
var trace2 = {
  x: [0,1, 2, 3, 4, 5, 6,7,8,9,10,11],
  y: [input_res[i],input_res[1]],
  mode: 'lines'
};
var data = [ trace2 ];
var layout = {
  title:'Line and Scatter Plot'
};
Plotly.newPlot('myMoney', data);
      }</script>

  <script>
      function othername() {
    var input = document.getElementById("userInput").value;
    var input2 = document.getElementById("userInput2").value;
    var input3 = document.getElementById("userInput3").value;
    var input4 = document.getElementById("userInput4").value;
    var input5 = document.getElementById("userInput5").value;
    var test = input;
      var data = [{
  values: [input, input2, input3,input4,input5],
  labels: ['Rent', 'Gas', 'Groceries/Food','Bills','etc'],
  type: 'pie'
}];
Plotly.newPlot('myCost', data);
}</script>

<script>
function makeplot() {
  Plotly.d3.csv("https://raw.githubusercontent.com/plotly/datasets/master/2014_apple_stock.csv", function(data){ processData(data) } );
};
function processData(allRows) {
  console.log(allRows);
  var x = [], y = [], standard_deviation = [];
  for (var i=0; i<allRows.length; i++) {
    row = allRows[i];
    x.push( row['AAPL_x'] );
    y.push( row['AAPL_y'] );
  }
  console.log( 'X',x, 'Y',y, 'SD',standard_deviation );
  makePlotly( x, y, standard_deviation );
}
function makePlotly( x, y, standard_deviation ){
  var plotDiv = document.getElementById("plot");
  var traces = [{
    x: x,
    y: y
  }];
  Plotly.newPlot('myDiv', traces,
    {title: 'Plotting CSV data from AJAX call'});
};
  makeplot();
</script>
</body>

<style>
    .body {
      background-color: #000000;

    }
</style>