{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var get_post_list_url = "{{=URL('api', 'get_post_list')}}";

    var delete_list_url = "{{=URL('api', 'delete_db')}}";
    // Like callbacks.
    var set_like_url = "{{=URL('api', 'set_like', user_signature=True)}}";
    var get_likers_url = "{{=URL('api', 'get_likers')}}"
    // Stars.
    var set_stars_url = "{{=URL('api', 'set_stars', user_signature=True)}}";
    var is_logged_in = {{='false' if auth.user is None else 'true'}};
</script>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="plotly-latest.min.js"></script>
  <!-- Numeric JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
{{end}}

<body>

<div class="main_content">

    <div id="vue-div" class="display:none">
      <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

      <!-- First, let's add a form to insert blog posts. -->
    <div class = "box_text">
      <div v-if="post_list.length > 0"><h1>Remaining Budget: $${post_total}</h1></div>
      <div v-if="post_list.length === 0"><h1>Budget not set</h1></div>
    </div>

    <a href="{{=URL('default', 'add_transaction')}}" class="btn"> Add Transaction</a>
    <a href="{{=URL('default', 'add_budget')}}" class="btn"> Add Budget</a>
    <button class ="clear" v-on:click="clear_budget()" > Clear </button>

    <!-- We display the transactions. -->
    <div class="container form_row">
        <div class="label half">
            <div class = "transaction_list">
                <h2> Transactions:
                  <button class = "show_trans" v-on:click ="list_show=!list_show">Expand/Collapse</button>
                </h2>

                <table>
                  <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Amount</th>
                  </tr>
                </table>
            </div>
            <div id="post_list">
            <div v-if="list_show">
                <div class="post_div" v-for="post in post_list">
                    <div class="post_content">
                      <table>
                        <tr>
                          <td>${post.post_title} </td>
                          <td>${post.post_category}</td>
                          <td>$${post.post_total}</td>
                        </tr>
                      </table>
                    </div>
          <!--<div class="post_content">Total Budget: ${post.post_budget}</div>-->
                    <div class="attributes">
                    </div>
                </div>
            </div>
            </div>

      </div>

  <div class="label half">
      <table class = "center fill">

            <thead>
              <tr> <td>Cost Breakdown </td> </tr>
            </thead>
          </table>
          <center>Money</center>
      <div id="myMoney"><!-- Plotly chart will be drawn inside this DIV --></div>
   
  </div>

    </div>

  </div>


</div>

<style>
    .post_div {
      margin: 4px;
      border: 1px white solid;
      background-color: #000000;
      padding: 4px;
    }
    .post_content{
      font-family: "Raleway", sans-serif;
      color: white;
    }

    .transaction_list {
      font-family: "Raleway", sans-serif;
      color: black;
    }

    .show_trans{
      color: white;
      background-color: #000000;
      align: right;
    }

</style>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
<script>
  </script>

  <script>
      var input_res = [];
      var i = 1;
      input_res[0] = 0;
      function totalMoney() {
    var input = document.getElementById("userInputT").value;
    input_res[i] = Number(input) + Number(input_res[i - 1]);
    i++;
var trace2 = {
  x: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,13,14,15,16,17],
  y: [input_res[0],input_res[1],input_res[2],input_res[3],input_res[4],input_res[5],input_res[6],input_res[7],input_res[8],input_res[9],input_res[10],input_res[11],input_res[12],input_res[13]],
  mode: 'lines',
};


var data = [ trace2 ];
var layout = {
  title:'Line and Scatter Plot'
};
Plotly.newPlot('myMoney', data);
      }
            function totalMoney() {
    var input = $( "#userInputT" ).load( "default/add_transaction.html" );
    input_res[i] = Number(input) + Number(input_res[i - 1]);
    i++;
var trace2 = {
  x: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,13,14,15,16,17],
  y: [input_res[0],input_res[1],input_res[2],input_res[3],input_res[4],input_res[5],input_res[6],input_res[7],input_res[8],input_res[9],input_res[10],input_res[11],input_res[12],input_res[13]],
  mode: 'lines',
};


var data = [ trace2 ];
var layout = {
  title:'Line and Scatter Plot'
};
Plotly.newPlot('myMoney', data);
      }
            function totalMoneySub() {
    var input = document.getElementById("userInputT").value;
    input_res[i] =  Number(input_res[i - 1]) - Number(input);
    i++;
var trace2 = {
  x: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,13,14,15,16,17],
  y: [input_res[0],input_res[1],input_res[2],input_res[3],input_res[4],input_res[5],input_res[6],input_res[7],input_res[8],input_res[9],input_res[10],input_res[11],input_res[12],input_res[13]],
  mode: 'lines',
};
var data = [ trace2 ];
var layout = {
  title:'Line and Scatter Plot'
};
Plotly.newPlot('myMoney', data);
      }
      </script>


<script>
</script>

</body>