{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var is_logged_in = {{='false' if auth.user is None else 'true'}};
</script>
{{end}}

<div class = "main_content1">

    <div class = "box">
        <div class = "box_text">
            <h1> Budget Tracker </h1>
            <p> Please Login to Enter the Application</p>
        </div>

        <div id="Login" style="display:none">
          <p>
            <a href ="{{=URL('default','posts')}}" class="login_btn btn">Enter the app </a>
          </p>
        </div>

    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>