/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
div.main_content {
  padding: 16px;
}
/* line 8, ../sass/_main.scss */
div.main_content div.form_row {
  margin-top: 8px;
  margin-bottom: 8px;
}
/* line 13, ../sass/_main.scss */
div.main_content div.container.form_row div.label.half div.post_div {
  margin: 4px;
  border: 1px black solid;
  background-color: #FAFAD2;
  padding: 4px;
}
/* line 18, ../sass/_main.scss */
div.main_content div.post_div .post_title {
  font-family: "Times New Roman";
  font-size: 120%;
}
/* line 22, ../sass/_main.scss */
div.main_content i.changed {
  color: #777777;
}
/* line 25, ../sass/_main.scss */
div.main_content span.likers_list {
  color: #7777cc;
}

div.main_content1 {
    background-color: #000000;
    min-height: 70vh;
    position: relative;
}

div.main_content1 div.box{
  position: absolute;
  background-color: #FFFFFF;
  border: 8px solid;
  border-color: #8c91ab;
  border-radius: 8px;
  min-height: 45vh;
  min-width: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.main_content1 div.box div.box_text{
  color: #708090;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  position: absolute;
  text-align: center;
  top: 10%;
  left: 50%;
  min-width: 70vh;
  transform: translate(-50%, -50%);
}

.login_btn{
  position: absolute;
  color: #FFFFFF;
  background: #000000;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.main_content div.box_text{
  color: #708090;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: left;
  min-width: 70vh;
}